<aside
  id="default-sidebar"
  class="fixed bg-gradient-to-b from-primary to-[#032053] top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto dark:bg-gray-800">
    <div class="brand flex content-center">
      <img src="./../../../assets/img/logoKOP.png" class="w-10" alt="" />
      <p class="ms-2 mt-2 text-white font-bold">Gudang KOP</p>
    </div>

    <ul class="space-y-2 mt-10 font-medium">
      <li *ngIf="userLogin?.role_id === 1">
        <a
          (click)="toogleDataMaster()"
          class="flex items-center p-2 text-white rounded-lg hover:p-3 dark:text-white hover:bg-[#DCF2F1] hover:text-primary group"
        >
          <i class="fa-solid fa-users"></i>
          <span class="ms-3">Data Master</span>
          <i class="fa-solid fa-chevron-down ml-10"></i>
        </a>
        <ul id="submenu-data-master" class="ml-8 text-white space-y-2 hidden">
          <!-- Sub-menu items -->
          <li>
            <a
              routerLink="/user"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Users</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/supplier"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Supplier</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/jenis-barang"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Jenis Barang</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/satuan-barang"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Satuan Barang</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/data-barang"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Data Barang</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/rak-gudang"
              class="flex items-center p-2 rounded-lg hover:p-3 hover:bg-[#DCF2F1] hover:text-black group"
            >
              <span class="ms-3">Rak Gudang</span>
            </a>
          </li>

          <!-- Add more sub-menu items as needed -->
        </ul>
      </li>

      <li *ngIf="userLogin?.role_id === 2">
        <a
          routerLink="/transactions"
          class="flex items-center p-2 text-white hover:text-primary rounded-lg hover:p-3 dark:text-white hover:bg-[#DCF2F1] dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-clipboard-list"></i>
          <span class="ms-3">Transactions</span>
        </a>
      </li>
      <li *ngIf="userLogin?.role_id !== 1">
        <a
          routerLink="/export-pdf"
          class="flex items-center p-2 text-white hover:text-primary rounded-lg hover:p-3 dark:text-white hover:bg-[#DCF2F1] dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-file-export"></i>
          <span class="ms-3">Export PDF</span>
        </a>
      </li>

      <li>
        <a
          (click)="logout()"
          class="flex items-center p-2 text-white hover:text-primary rounded-lg dark:text-white hover:p-3 hover:bg-[#DCF2F1] dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="ms-3">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64 bg-gray-300 h-screen">
  <router-outlet></router-outlet>
</div>
